.HeaderContent{
    width: 100%;
    height: auto;

    .AboutMe{
        width: 100%;
        height: auto;
    }

    .Skills{
        width: 100%;
        height: auto;
    }

    .ContactMe{
        width: 100%;
        height: auto;
    }
}